<div class="card text-center" *ngIf="album">
  <div class="card-header">
    <a [routerLink]="['/', 'album', album.id]">{{album.id}}. {{album.title}}</a>
  </div>
  <div class="card-body">
    <div class="album-photos d-flex">
      <a [routerLink]="['/', 'photo', photo.id]" *ngFor="let photo of photos; trackBy: trackByPhoto">
        <img [src]="photo.thumbnailUrl" [alt]="photo.title">
      </a>
    </div>
  </div>
  <div class="card-footer text-muted" *ngIf="album.user">
    By <a [routerLink]="['/', 'user', album.user.id]">{{album.user.name}}</a>
  </div>
</div>
