<div class="card text-center" *ngIf="album">
  <div class="card-header">
    {{album.id}}. {{album.title}}
  </div>
  <div class="card-body">
    <div class="album-photos d-flex">
      <img src="https://via.placeholder.com/150/659403" alt="">
      <img src="https://via.placeholder.com/150/ca50ac" alt="">
      <img src="https://via.placeholder.com/150/6ad437" alt="">
      <img src="https://via.placeholder.com/150/29fe9f" alt="">
    </div>
  </div>
  <div class="card-footer text-muted" *ngIf="album.user">
    By {{album.user.name}}
  </div>
</div>
