<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">
      ID
      <fa-icon [icon]="faSortUp" [fixedWidth]="true"></fa-icon>
    </th>
    <th scope="col">User</th>
    <th scope="col">Title</th>
    <th scope="col">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <th scope="row" class="fw-normal">{{item.id}}</th>
    <td><ng-container *ngIf="item.user">{{item.user.name}}</ng-container></td>
    <td>{{item.title}}</td>
    <td>{{item.body}}</td>
  </tr>
  </tbody>
</table>
