<div class="card">
  <div class="card-header">
    Statistics
  </div>
  <div class="card-body">
    <div class="text-center" *ngIf="isLoading">
      <fa-icon [icon]="faSpinner" [pulse]="true" role="status" data-testid="loading-spinner">
        <span class="sr-only">Loading...</span>
      </fa-icon>
    </div>

    <div class="d-flex justify-content-between" *ngIf="!isLoading">
      <div><span class="fs-3 fw-bold text-success">{{totalPostsCount | number}}</span> Posts</div>
      <div><span class="fs-3 fw-bold text-success">{{totalAlbumsCount | number}}</span> Albums</div>
      <div><span class="fs-3 fw-bold text-success">{{totalPhotosCount | number}}</span> Photos</div>
    </div>
  </div>
</div>
