<div class="album-list d-flex flex-wrap">
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
  <app-album-list-item></app-album-list-item>
</div>

