<div class="card">
  <div class="card-header">
    Posts
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Cras justo odio
      <div class="text-truncate text-secondary">
        Praeterea iter est quasdam res quas ex communi.
      </div>
    </li>
    <li class="list-group-item">
      Cras justo odio
      <div class="text-truncate text-secondary">
        Praeterea iter est quasdam res quas ex communi.
      </div>
    </li>
    <li class="list-group-item">
      Vestibulum at eros
      <div class="text-truncate text-secondary">
        Praeterea iter est quasdam res quas ex communi.
      </div>
    </li>
  </ul>
</div>
