<div class="card">
  <div class="card-header">
    {{title}}
  </div>

  <app-content-loading-status
    [isEmpty]="!posts.length"
    [isLoading]="isLoading"
  ></app-content-loading-status>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let post of posts; trackBy: trackByPost">
      <div class="text-truncate">
        <a [routerLink]="['/', 'post', post.id]">{{post.title}}</a>
      </div>
      <div class="text-truncate text-secondary">
        {{post.body}}
      </div>
    </li>
  </ul>
</div>
