<div class="container pt-3">
  <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
  <h2>Posts</h2>

  <app-post-list-filter-container class="d-block mb-2"></app-post-list-filter-container>

  <app-post-list-table
    [loadInProcess]="(loadInProcess$ | async)!"
    [items]="(items$ | async)!"
    [totalCount]="(totalCount$ | async)!"
    [listRequest]="(currentListRequest$ | async)!"
    (sort)="onSort($event)"
    (pageChange)="onPageChange($event)"
  ></app-post-list-table>
</div>
